.non { 
background-color:020024;
}
.non2 { 
margin-bottom:20px;
padding:20px;
background-color:white;

}
.non6 {
text-align:RIGHT;
}
.h4 {
background-color:white;
border-radius:10px;
padding:20px;
margin:5px;
}
.non3 {
display:flex;
}
.bwh {
footer:20px;
COLOR:white;
text-align:center;
margin:30px;
}
.n3 {
background-color:white;
border-radius:10px;
padding:20px;
margin:5px;
}
.non4 {
margin:20;
}
.n4 {
text-align:center;
}
.non5 {
  color: #fff;
  padding: 0px;
  list-style: none;
 text-align: ;
  margin: ;
  padding: ;
  display: inline-block;
  margin-right: 0px;
  color: #fff;
  text-decoration: none;
  color: #fff;
}
